.partners {
  background: url('../img/sp.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h2 {
    color: #FFF;
    width: 242px;
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 400;
  }
  .col-md-12 div {
    height: 50px;
    width: 200px;
    border: 1px solid #FFF;
    background: rgba(51, 51, 51, 0.30980392156862746);
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    p {
      color: #FFF;
      line-height: 50px;
      a {
        color: #FFF;
      }
    }
  }
}
